
@{
    ViewBag.Title = "Index";
}

<center><h2>Listado de  Cliente</h2>  </center>
<div class="row">
    <div class="col-md-4">
        <input id="searchid" placeholder="Buscar Cedula" onkeyup="ShowTeam(1,'Id')" class="form-control" />
    </div>

   
</div>


<table class="table">

    <thead>
        <tr>

            <th>
                Nombre 

            </th>

            <th>
                Telefono
            </th>

            <th>
                Numero de cuenta
            </th>

           
        </tr>
    </thead>


    <tbody id="ResultTeam"> </tbody>



</table>

<p id="ResultPag"></p>

