
@{
    ViewBag.Title = "Index";
}

<a class="btn btn-success" data-toggle="modal" data-target="#CreateEqui" onclick="InfoCreate()">Ingresar Equipo Nuevo</a>
<center><h2>Listado de Equipos</h2>  </center>
<div class="row">
    <div class="col-md-4">
        <input id="searchid" placeholder="Buscar Por Codigo" onkeyup="ShowTeam(1,'Id')" class="form-control" />
    </div>
    <div class="col-md-4">
        <input id="searchTeam" placeholder="Buscar Equipo" onkeyup="ShowTeam(1,'Marca')" class="form-control" />
    </div>
    <div class="col-md-4">

    </div>
</div>


<table class="table">

    <thead>
        <tr>

            <th>
                Codigo Interno

            </th>
            <th>
                Tipo
            </th>
            <th>
                Marca
            </th>

            <th>
                Modelo
            </th>

            <th>
                Procesador
            </th>
            <th>
                Ram
            </th>
            <th>
                Tipo de Disco
            </th>
            <th>
                Capacidad
            </th>
            <th>
                Estado
            </th>
        </tr>
    </thead>


    <tbody id="ResultTeam"> </tbody>



</table>

<p id="ResultPag"></p>

<div class="modal fade" id="CreateEqui" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center><h4 class="modal-title" id="myModalLabel">Ingresar Equipo Nuevo</h4> </center>
            </div>

            <div class="modal-body">


                <div class=" row Derecho">
                    <div class="col-sm-6 DerechoAbajo">
                        <center>
                            <p class="Title2">Codigo de Invetario </p>


                            <input class="input" type="text" id="Idequi">
                        </center>

                    </div>



                    <div class=" col-sm-6 izquierdo">
                        <center>
                            <p class="Title2"> Tipo Dispositivo </p>



                            <select class="input" id="Tip_Dis" name="select">
                                <option value="0">Seleccione un el Dispositivo</option>

                            </select>
                        </center>
                    </div>

                </div>




                <div class=" row Derecho">

                    <div class="  col-sm-6  Derecho">
                        <center>
                            <p class="Title2">Marca </p>



                            <select class="input" id="Marca" name="select">
                                <option value="0">Seleccione un el Marca</option>
                            </select>

                        </center>
                    </div>





                    <div class="  col-sm-6  izquierdoAbajo">
                        <center>
                            <p class="Title2 ">Modelo</p>



                            <input class="input" type="text" id="modelo">


                        </center>
                    </div>


                </div>













                <div class=" row Derecho">
                    <div class="col-sm-6">
                        <center>
                            <p class="Title2">Ram</p>



                            <input class="input" type="number" id="Ram">

                        </center>
                    </div>


                    <div class="col-sm-6">
                        <center>
                            <p class="Title2">Procesador</p>


                            <input class="input" type="text" id="Pro">


                        </center>
                    </div>
                </div>





                <div class=" row Derecho">

                    <div class="col-sm-6">
                        <center>
                            <p class="Title2"> Tipo  de Disco</p>


                            <select class="input" id="Tip_Disco" name="select">
                                <option value="HDD">HDD</option>
                                <option value="SDD">SDD</option>
                            </select>

                        </center>
                    </div>



                    <div class="col-sm-6">
                        <center>
                            <p class="Title2"> Capacidad de Disco </p>

                            <input class="input" type="number" id="CapDisco">


                        </center>
                    </div>

                </div>


                <div class=" row Derecho">
                    <div class="col-sm-6">
                        <center>
                            <p class="Title2">  Costo</p>

                            <input class="input" type="number" id="Costo">
                        </center>
                    </div>
                    <div class="col-sm-6">
                        <center>
                            <p class="Title2"> Fecha de Compra</p>
                            <input class="input" type="date" id="Buyday" name="Buyday">


                        </center>
                    </div>

                </div>


                <div class="col-sm-12 modal-footer">
                    <center>
                        <p class="Title2">Estado </p>


                        <select class="input" id="Estado" name="select">
                            <option value="0">Seleccione un el Estado</option>
                        </select>
                    </center>
                </div>






                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <input type="submit" class="btn btn-success" onclick="SaveTeam('Create')">
                </div>


            </div>







        </div>

    </div>


</div>




<div class="modal fade" id="EditTeam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center><h4 class="modal-title" id="myModalLabel">Editar Equipo</h4> </center>
            </div>

            <div class="modal-body">












                <div class=" row Derecho">
                    <div class="col-sm-6 DerechoAbajo">
                        <center>
                            <p class="Title2">Codigo de Invetario </p>
                            <p id="Idequi2"></p>

                        </center>

                    </div>



                    <div class=" col-sm-6 izquierdo">
                        <center>
                            <p class="Title2"> Tipo Dispositivo </p>



                            <select class="input" id="Tip_Dis2" name="select">
                                <option value="0">Seleccione un el Dispositivo</option>

                            </select>
                        </center>
                    </div>

                </div>




                <div class=" row Derecho">

                    <div class="  col-sm-6  Derecho">
                        <center>
                            <p class="Title2">Marca </p>



                            <select class="input" id="Marca2" name="select">
                                <option value="0">Seleccione un el Marca</option>
                            </select>

                        </center>
                    </div>





                    <div class="  col-sm-6  izquierdoAbajo">
                        <center>
                            <p class="Title2 ">Modelo</p>



                            <input class="input" type="text" id="modelo2">


                        </center>
                    </div>


                </div>













                <div class=" row Derecho">
                    <div class="col-sm-6">
                        <center>
                            <p class="Title2">Ram</p>



                            <input class="input" type="number" id="Ram2">

                        </center>
                    </div>


                    <div class="col-sm-6">
                        <center>
                            <p class="Title2">Procesador</p>


                            <input class="input" type="text" id="Pro2">


                        </center>
                    </div>
                </div>





                <div class=" row Derecho">

                    <div class="col-sm-6">
                        <center>
                            <p class="Title2"> Tipo  de Disco</p>


                            <select class="input" id="Tip_Disco2" name="select">
                                <option value="HDD">HDD</option>
                                <option value="SDD">SDD</option>
                            </select>

                        </center>
                    </div>



                    <div class="col-sm-6">
                        <center>
                            <p class="Title2"> Capacidad de Disco </p>

                            <input class="input" type="number" id="CapDisco2">


                        </center>
                    </div>

                </div>


                <div class=" row Derecho">
                    <div class="col-sm-6">
                        <center>
                            <p class="Title2">  Costo</p>

                            <input class="input" type="number" id="Costo2">
                        </center>
                    </div>
                    <div class="col-sm-6">
                        <center>
                            <p class="Title2"> Fecha de Compra</p>
                            <p id="Buyday2"></p>



                        </center>
                    </div>

                </div>


                <div class="col-sm-12 modal-footer">
                    <center>
                        <p class="Title2">Estado </p>


                        <select class="input" id="Estado2" name="select">
                            <option value="0">Seleccione un el Estado</option>
                        </select>
                    </center>
                </div>



            </div>





            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <input type="submit" class="btn btn-success" onclick="SaveTeam('Edit')">
            </div>

        </div>

    </div>


</div>



